amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2018.11.29
chardet==3.0.4
confusable-homoglyphs==3.2.0
Django==1.11.18
django-celery==3.2.2
django-countries==5.3.2
django-crispy-forms==1.7.2
django-registration==3.0
django-registration-redux==2.5
django-registration2==0.9.4
django-smart-selects==1.5.4
idna==2.8
kombu==3.0.37
Pillow==9.3.0
pytz==2018.9
requests==2.21.0
urllib3==1.24.1

